<div class="row">
	<div class="box col-xs-12">
		<div class="top-box row subcolor">
		  <div class="">
		  	<div class="col-xs-2 center-align">
  				<a ng-href="#/search" class="btn main-btn">Go back and edit dinner</a>
  			</div>
		  	<div class="col-xs-8">
		  		<div><h2>My dinner: {{getNumberOfGuests()}} guests</h2></div>
		  	</div>
	  	</div>
		</div>
	</div>
</div>
<div class="box top-padding">
	<div class="row" ng-repeat="dish in getFullMenu()">
    <a class="col-xs-3 flex" ng-href="#/dish/{{dish.RecipeID}}">
			<div class="dish-container">
				<div class="dish-box">
					<img ng-src="{{dish.ImageURL}}"/>
					<div class="dish-name">
						{{dish.Title}}
					</div>
				</div>
			</div>
		</a>
    <div class="col-xs-3">
      <h3>Description</h3>
      <br/>
      <p>{{dish.Description}}</p>
    </div>
    <div class="col-xs-5">
        <h3>Preparation</h3>
        <br/>
        <p>{{dish.Instructions}}</p>
    </div>
  </div>
</div>