<div class="row">
	<div class="box col-xs-12">
		<div class="top-box row subcolor">
		  <div class="">
		  	<div class="col-xs-2 center-align">
  				<a ng-href="#/search" class="btn main-btn">Go back and edit dinner</a>
  			</div>
		  	<div class="col-xs-8">
		  		<div><h2>My dinner: {{getNumberOfGuests()}} people</h2></div>
		  	</div>
	  	</div>
		</div>
	</div>
</div>
<div class="box top-padding">
	<div class="row" ng-repeat="dish in getFullMenu()">
		<div class="col-xs-3 center-align">
			<h2>{{dish.Title}}</h2>
			<a ng-href="#/dish/{{dish.RecipeID}}">
		  	<img class="dish-box" ng-src="{{dish.ImageURL}}"/>
		  </a>
		</div>
    <div class="col-xs-3">
      <h3>Description</h3>
      <br/>
      <p>{{dish.Description}}</p>
    </div>
    <div class="col-xs-5">
        <h3>Preparation</h3>
        <br/>
        <p>{{dish.Instructions}}</p>
    </div>
  </div>
</div>